# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.log
*.tlog
*.idb
*.pdb
*.db
*.opendb
.vs/NetBootd/v15/.suo
*.ipch
*.db-shm
*.db-wal
*.exp
*.ilk
*.TMP
*.com
